**/coverage/**
**/templates
**/node_modules/**
**/build/**
**/dist/**
**/umd/**
**/lib/**
# TODO: decide whether or not to bring these up to eslint standards
packages/jbrowse-web/scripts/**
/config/
/packages/jbrowse-web/config/
