**/coverage/**
**/templates
**/node_modules/**
**/build/**
**/dist/**
**/esm/**
**/umd/**
**/lib/**
**/tmp/**
# TODO: decide whether or not to bring these up to eslint standards
products/jbrowse-web/scripts/**
/config/
/products/jbrowse-web/config/
products/jbrowse-desktop/public/electron.js
products/jbrowse-desktop/public/generateFastaIndex.js
/demos/
webpack.config.js
craco.config.js
packages/core/util/QuickLRU.js
packages/core/util/QuickLRU.d.ts
**/umd_plugin.js
