**/coverage/**
**/templates
**/node_modules/**
**/build/**
**/dist/**
**/umd/**
# TODO: decide whether or not to bring these up to eslint standards
/config/
packages/jbrowse-web/scripts/**
packages/jbrowse-web/config/
packages/jbrowse-web/storybook-static/
packages/jbrowse-web/build/
