**/node_modules/
**/.vscode/
**/coverage/
yarn-error.log
*.swp
*.swo
.DS_Store
lint.log
.eslintcache
.idea
**/umd
yalc.lock
.yalc
**/package-lock.json
**/__diff_output__/
**/dist/
**/esm/
lerna-debug.log
.yarn
.yarnrc
*.tsbuildinfo
.aider*

test_data/*x*.bam*
test_data/*x*.cram*
test_data/hg19mod*
results*.json
screenshots
benchmarks/logs/*
benchmarks/end-to-end/results/
