**/node_modules/
**/.vscode/
**/coverage/
yarn-error.log
*.swp
*.swo
.DS_Store
lint.log
.eslintcache
.idea
**/umd
yalc.lock
.yalc
**/package-lock.json
**/__diff_output__/
**/dist/
**/esm/
lerna-debug.log
.yarn
.yarnrc
*.tsbuildinfo
products/jbrowse-cli/test/data/volvox_inv_indels.paf.pif.gz*
