language: node_js
node_js: 10
sudo: false
cache:
- node_modules
- yarn
script:
- set -e
- yarn lint
- yarn test-ci
- yarn tsc --noEmit
- yarn build
- BUILT_TESTS=1 yarn built-test-ci
after_success:
- bash <(curl -s https://codecov.io/bash)
deploy:
  provider: s3
  skip_cleanup: true
  access_key_id: AKIAV7MGHX5ZQA5FHIE2
  secret_access_key:
    secure: $SECRET_ACCESS_KEY
  bucket: "jbrowse.org"
  region: us-east-1
  local-dir: packages/jbrowse-web/build
  upload-dir: code/jb2/alpha/$TRAVIS_COMMIT
  acl: public_read
  on:
    repo: GMOD/jbrowse-components
    all_branches: true
