language: node_js
node_js: stable
sudo: false

cache:
    - node_modules
    - yarn
script:
    - set -e
    - yarn lint
    - yarn build
    - yarn test-ci
    # - if .travis/build-condition.sh $TRAVIS_COMMIT_RANGE $PROJECT; then cd $PROJECT && . .travis.sh; else echo "$PROJECT is NOT being built"; fi
