.button {
  text-transform: none;
}

.section {
  margin-top: 24px;
  margin-bottom: 32px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  margin: 5em;
}

.topLinks {
  margin: 0 auto;
  display: flex;
  align-items: space-between;
  justify-content: center;
}

.card {
  margin: 1em auto;
  width: 800px;
}

.cardMedia {
  height: 200px;
  width: 800px;
}

@media (max-width: 800px) {
  .cardMedia {
    display: none;
  }

  .card {
    width: auto;
  }
}

.icon {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.topButton {
  margin: 1em;
}

.closeButton {
  position: absolute;
  top: 5px;
  right: 0px;
}

.dataField {
  display: flex;
  align-items: center;
  margin: 0.4em 0em;
}

.dialogTitleBox {
  background-color: #3f51b5;
  color: #fff;
  text-align: center;
}
