{
  "presets": [
    // need this to be able to use spread operator on Set and Map
    // see https://github.com/formium/tsdx/issues/376#issuecomment-566750042
    ["@babel/preset-env", { "loose": false }],
    // can remove this if only using TypeScript
    "@babel/preset-react"
  ]
}
