.WiggleRendering {
  .blur {
    text-align: center;
    color: black;
  }

  .hoverVertical {
    background: #333;
    border: none;
    width: 1px;
    height: 100%;
    top: 0px;
    cursor: default;
    position: absolute;
  }
  .hoverLabel {
    top: 0px;
    position: absolute;
  }

  table,
  th,
  td {
    font-size: 10px;
    border: 1px solid black;
    border-collapse: collapse;
  }

  #smallInfo {
    font-size: 8px;
  }
}
