.WiggleRendering {
  .blur {
    text-align: center;
    color: black;
  }



  table,
  th,
  td {
    font-size: 10px;
    border: 1px solid black;
    border-collapse: collapse;
  }

  #smallInfo {
    font-size: 8px;
  }
}
