---
import { Icon } from 'astro-icon/components'
import btn from '../styles/button.module.css'
---

<aside class="alert" role="note">
  <span class="icon" aria-hidden="true">
    <Icon name="mdi:information" width="22" height="22" />
  </span>
  <div class="body">
    <strong>New: JBrowse 2 office hours!</strong>
    <p>
      Starting Fall 2023, we are offering 1-on-1 appointments with members of
      our team via Google Calendar.
    </p>
    <a
      class:list={[btn.btn, btn.btnPrimary, btn.btnSmall]}
      href="https://calendar.app.google/1AYZkNCQNmwdY2R26"
    >
      Schedule appointment
    </a>
  </div>
</aside>

<style>
  .alert {
    background-color: rgb(229, 246, 253);
    color: rgb(1, 67, 97);
    padding: 6px 16px;
    border-radius: 4px;
    display: flex;
    align-items: flex-start;
    gap: 12px;
    font-size: 0.875rem;
    line-height: 1.43;
    margin: 0.75rem 0;
  }
  .icon {
    color: #0288d1;
    opacity: 0.9;
    padding: 7px 0;
    flex-shrink: 0;
    display: flex;
  }
  .body {
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .body p {
    margin: 0;
  }
</style>
