---
---

<div id="search"></div>
<style is:global>
  @import '@pagefind/default-ui/css/ui.css';
</style>
<script>
  import { PagefindUI } from '@pagefind/default-ui'
  new PagefindUI({ element: '#search', showSubResults: true })
</script>
