---
import WithAlignmentsDisplayOptions from "../examples/WithAlignmentsDisplayOptions.tsx"
import code from "../examples/WithAlignmentsDisplayOptions.tsx?raw"
import { pages } from "../examples.ts"
import Layout from "../layouts/ExampleLayout.astro"
import Section from "../layouts/ExampleSection.astro"

const page = pages.find(p => p.slug === "alignments-track-options")!
---

<Layout page={page}>
  <Section slug="alignments-track-options" code={code}>
    <WithAlignmentsDisplayOptions client:only="react" />
  </Section>
</Layout>
