---
import WithDisableZoomAndSideScroll from "../examples/WithDisableZoomAndSideScroll.tsx"
import WithDisableZoomAndSideScrollCode from "../examples/WithDisableZoomAndSideScroll.tsx?raw"
import WithShowTrack from "../examples/WithShowTrack.tsx"
import WithShowTrackCode from "../examples/WithShowTrack.tsx?raw"
import { pages, section } from "../examples.ts"
import Layout from "../layouts/ExampleLayout.astro"
import Section from "../layouts/ExampleSection.astro"

const page = pages.find(p => p.slug === "controlling-the-view")!
const sec0 = section(page, "with-disable-zoom-and-side-scroll")
const sec1 = section(page, "with-show-track")
---

<Layout page={page}>
  <Section {...sec0} code={WithDisableZoomAndSideScrollCode}>
    <WithDisableZoomAndSideScroll client:only="react" />
  </Section>
  <Section {...sec1} code={WithShowTrackCode}>
    <WithShowTrack client:only="react" />
  </Section>
</Layout>
