---
import DefaultSession from '../examples/DefaultSession.tsx'
import DefaultSessionCode from '../examples/DefaultSession.tsx?raw'
import DisableAddTrack from '../examples/DisableAddTrack.tsx'
import DisableAddTrackCode from '../examples/DisableAddTrack.tsx?raw'
import WithDrawerWidget from '../examples/WithDrawerWidget.tsx'
import WithDrawerWidgetCode from '../examples/WithDrawerWidget.tsx?raw'
import { getPage, section } from '../examples.ts'
import Layout from '../layouts/ExampleLayout.astro'
import Section from '../layouts/ExampleSection.astro'

const page = getPage('default-session')
const sec0 = section(page, 'default-session')
const sec1 = section(page, 'disable-add-track')
const sec2 = section(page, 'with-drawer-widget')
---

<Layout page={page}>
  <Section {...sec0} code={DefaultSessionCode}>
    <DefaultSession client:only="react" />
  </Section>
  <Section {...sec1} code={DisableAddTrackCode}>
    <DisableAddTrack client:only="react" />
  </Section>
  <Section {...sec2} code={WithDrawerWidgetCode}>
    <WithDrawerWidget client:only="react" />
  </Section>
</Layout>
