---
import Example from '../examples/HumanExomeExample.tsx'
import code from '../examples/HumanExomeExample.tsx?raw'
import { getPage } from '../examples.ts'
import Layout from '../layouts/ExampleLayout.astro'
import Section from '../layouts/ExampleSection.astro'

const page = getPage('human-exome-example')
---

<Layout page={page}>
  <Section slug="human-exome-example" code={code}>
    <Example client:only="react" />
  </Section>
</Layout>
