---
import Example from '../examples/LocusZoomLD.tsx'
import code from '../examples/LocusZoomLD.tsx?raw'
import { getPage } from '../examples.ts'
import Layout from '../layouts/ExampleLayout.astro'
import Section from '../layouts/ExampleSection.astro'

const page = getPage('locus-zoom-ld')
---

<Layout page={page}>
  <Section slug="locus-zoom-ld" code={code}>
    <Example client:only="react" />
  </Section>
</Layout>
