---
import ObserveSelection from '../examples/ObserveSelection.tsx'
import ObserveSelectionCode from '../examples/ObserveSelection.tsx?raw'
import ObserveVisible from '../examples/ObserveVisible.tsx'
import ObserveVisibleCode from '../examples/ObserveVisible.tsx?raw'
import WithTwoLinearGenomeViews from '../examples/WithTwoLinearGenomeViews.tsx'
import WithTwoLinearGenomeViewsCode from '../examples/WithTwoLinearGenomeViews.tsx?raw'
import { getPage, section } from '../examples.ts'
import Layout from '../layouts/ExampleLayout.astro'
import Section from '../layouts/ExampleSection.astro'

const page = getPage('multiple-views')
const sec0 = section(page, 'observe-visible')
const sec1 = section(page, 'observe-selection')
const sec2 = section(page, 'with-two-linear-genome-views')
---

<Layout page={page}>
  <Section {...sec0} code={ObserveVisibleCode}>
    <ObserveVisible client:only="react" />
  </Section>
  <Section {...sec1} code={ObserveSelectionCode}>
    <ObserveSelection client:only="react" />
  </Section>
  <Section {...sec2} code={WithTwoLinearGenomeViewsCode}>
    <WithTwoLinearGenomeViews client:only="react" />
  </Section>
</Layout>
