---
import ExternalNavigate from '../examples/ExternalNavigate.tsx'
import ExternalNavigateCode from '../examples/ExternalNavigate.tsx?raw'
import WithDisableZoomAndSideScroll from '../examples/WithDisableZoomAndSideScroll.tsx'
import WithDisableZoomAndSideScrollCode from '../examples/WithDisableZoomAndSideScroll.tsx?raw'
import WithShowTrack from '../examples/WithShowTrack.tsx'
import WithShowTrackCode from '../examples/WithShowTrack.tsx?raw'
import { getPage, section } from '../examples.ts'
import Layout from '../layouts/ExampleLayout.astro'
import Section from '../layouts/ExampleSection.astro'

const page = getPage('navigate-to-location')
const sec0 = section(page, 'external-navigate')
const sec1 = section(page, 'with-disable-zoom-and-side-scroll')
const sec2 = section(page, 'with-show-track')
---

<Layout page={page}>
  <Section {...sec0} code={ExternalNavigateCode}>
    <ExternalNavigate client:only="react" />
  </Section>
  <Section {...sec1} code={WithDisableZoomAndSideScrollCode}>
    <WithDisableZoomAndSideScroll client:only="react" />
  </Section>
  <Section {...sec2} code={WithShowTrackCode}>
    <WithShowTrack client:only="react" />
  </Section>
</Layout>
