---
import ExternalNavigate from "../examples/ExternalNavigate.tsx"
import code from "../examples/ExternalNavigate.tsx?raw"
import { pages } from "../examples.ts"
import Layout from "../layouts/ExampleLayout.astro"
import Section from "../layouts/ExampleSection.astro"

const page = pages.find(p => p.slug === "navigate-to-location")!
---

<Layout page={page}>
  <Section slug="external-navigate" code={code}>
    <ExternalNavigate client:only="react" />
  </Section>
</Layout>
