---
import Example from "../examples/NextstrainPathogens.tsx"
import code from "../examples/NextstrainPathogens.tsx?raw"
import { pages } from "../examples.ts"
import Layout from "../layouts/ExampleLayout.astro"
import Section from "../layouts/ExampleSection.astro"

const page = pages.find(p => p.slug === "nextstrain-pathogens")!
---

<Layout page={page}>
  <Section slug="nextstrain-pathogens" code={code}>
    <Example client:only="react" />
  </Section>
</Layout>
