---
import Example from "../examples/ObserveVisible.tsx"
import code from "../examples/ObserveVisible.tsx?raw"
import { pages } from "../examples.ts"
import Layout from "../layouts/ExampleLayout.astro"
import Section from "../layouts/ExampleSection.astro"

const page = pages.find(p => p.slug === "observe-visible")!
---

<Layout page={page}>
  <Section slug="observe-visible" code={code}>
    <Example client:only="react" />
  </Section>
</Layout>
