---
import Example from "../examples/PanUKBGWAS.tsx"
import code from "../examples/PanUKBGWAS.tsx?raw"
import { pages } from "../examples.ts"
import Layout from "../layouts/ExampleLayout.astro"
import Section from "../layouts/ExampleSection.astro"

const page = pages.find(p => p.slug === "pan-ukb-gwas")!
---

<Layout page={page}>
  <Section slug="pan-ukb-gwas" code={code}>
    <Example client:only="react" />
  </Section>
</Layout>
