---
import Example from '../examples/PanUKBGWAS.tsx'
import code from '../examples/PanUKBGWAS.tsx?raw'
import { getPage } from '../examples.ts'
import Layout from '../layouts/ExampleLayout.astro'
import Section from '../layouts/ExampleSection.astro'

const page = getPage('pan-ukb-gwas')
---

<Layout page={page}>
  <Section slug="pan-ukb-gwas" code={code}>
    <Example client:only="react" />
  </Section>
</Layout>
