---
import OneLinearGenomeView from '../examples/OneLinearGenomeView.tsx'
import OneLinearGenomeViewCode from '../examples/OneLinearGenomeView.tsx?raw'
import WithInit from '../examples/WithInit.tsx'
import WithInitCode from '../examples/WithInit.tsx?raw'
import UseCreateViewState from '../examples/UseCreateViewState.tsx'
import UseCreateViewStateCode from '../examples/UseCreateViewState.tsx?raw'
import { getPage, section } from '../examples.ts'
import Layout from '../layouts/ExampleLayout.astro'
import Section from '../layouts/ExampleSection.astro'

const page = getPage('setting-up-the-view')
const sec0 = section(page, 'one-linear-genome-view')
const sec1 = section(page, 'with-init')
const sec2 = section(page, 'use-create-view-state')
---

<Layout page={page}>
  <Section {...sec0} code={OneLinearGenomeViewCode}>
    <OneLinearGenomeView client:only="react" />
  </Section>
  <Section {...sec1} code={WithInitCode}>
    <WithInit client:only="react" />
  </Section>
  <Section {...sec2} code={UseCreateViewStateCode}>
    <UseCreateViewState client:only="react" />
  </Section>
</Layout>
