---
import WithWiggleTrack from '../examples/WithWiggleTrack.tsx'
import WithWiggleTrackCode from '../examples/WithWiggleTrack.tsx?raw'
import WithGtfTrack from '../examples/WithGtfTrack.tsx'
import WithGtfTrackCode from '../examples/WithGtfTrack.tsx?raw'
import WithMultiSampleVariantDisplay from '../examples/WithMultiSampleVariantDisplay.tsx'
import WithMultiSampleVariantDisplayCode from '../examples/WithMultiSampleVariantDisplay.tsx?raw'
import { getPage, section } from '../examples.ts'
import Layout from '../layouts/ExampleLayout.astro'
import Section from '../layouts/ExampleSection.astro'

const page = getPage('specialized-track-types')
const sec0 = section(page, 'with-wiggle-track')
const sec1 = section(page, 'with-gtf-track')
const sec2 = section(page, 'with-multi-sample-variant-display')
---

<Layout page={page}>
  <Section {...sec0} code={WithWiggleTrackCode}>
    <WithWiggleTrack client:only="react" />
  </Section>
  <Section {...sec1} code={WithGtfTrackCode}>
    <WithGtfTrack client:only="react" />
  </Section>
  <Section {...sec2} code={WithMultiSampleVariantDisplayCode}>
    <WithMultiSampleVariantDisplay client:only="react" />
  </Section>
</Layout>
