---
import WithAggregateTextSearching from '../examples/WithAggregateTextSearching.tsx'
import WithAggregateTextSearchingCode from '../examples/WithAggregateTextSearching.tsx?raw'
import WithPerTrackTextSearching from '../examples/WithPerTrackTextSearching.tsx'
import WithPerTrackTextSearchingCode from '../examples/WithPerTrackTextSearching.tsx?raw'
import { getPage, section } from '../examples.ts'
import Layout from '../layouts/ExampleLayout.astro'
import Section from '../layouts/ExampleSection.astro'

const page = getPage('text-searching')
const sec0 = section(page, 'with-aggregate-text-searching')
const sec1 = section(page, 'with-per-track-text-searching')
---

<Layout page={page}>
  <Section {...sec0} code={WithAggregateTextSearchingCode}>
    <WithAggregateTextSearching client:only="react" />
  </Section>
  <Section {...sec1} code={WithPerTrackTextSearchingCode}>
    <WithPerTrackTextSearching client:only="react" />
  </Section>
</Layout>
