---
import WithTrackSizing from '../examples/WithTrackSizing.tsx'
import code from '../examples/WithTrackSizing.tsx?raw'
import { getPage } from '../examples.ts'
import Layout from '../layouts/ExampleLayout.astro'
import Section from '../layouts/ExampleSection.astro'

const page = getPage('track-sizing')
---

<Layout page={page}>
  <Section slug="track-sizing" code={code}>
    <WithTrackSizing client:only="react" />
  </Section>
</Layout>
