---
import Example from "../examples/WithInternetAccounts.tsx"
import code from "../examples/WithInternetAccounts.tsx?raw"
import { pages } from "../examples.ts"
import Layout from "../layouts/ExampleLayout.astro"
import Section from "../layouts/ExampleSection.astro"

const page = pages.find(p => p.slug === "with-internet-accounts")!
---

<Layout page={page}>
  <Section slug="with-internet-accounts" code={code}>
    <Example client:only="react" />
  </Section>
</Layout>
