---
import Example from "../examples/WithErrorHandler.tsx"
import code from "../examples/WithErrorHandler.tsx?raw"
import { pages } from "../examples.ts"
import Layout from "../layouts/ExampleLayout.astro"
import Section from "../layouts/ExampleSection.astro"

const page = pages.find(p => p.slug === "with-error-handler")!
---

<Layout page={page}>
  <Section slug="with-error-handler" code={code}>
    <Example client:only="react" />
  </Section>
</Layout>
