---
import Example from "../examples/WithTwoLinearGenomeViews.tsx"
import code from "../examples/WithTwoLinearGenomeViews.tsx?raw"
import { pages } from "../examples.ts"
import Layout from "../layouts/ExampleLayout.astro"
import Section from "../layouts/ExampleSection.astro"

const page = pages.find(p => p.slug === "with-two-linear-genome-views")!
---

<Layout page={page}>
  <Section slug="with-two-linear-genome-views" code={code}>
    <Example client:only="react" />
  </Section>
</Layout>
