.DivSequenceRendering {
  .blur {
    text-align: center;
    color: black;
  }
  .base {
    text-align: center;
    display: inline-block;
    color: black;
    height: 100%;
    overflow: hidden;
    min-height: 16px;
    flex: 1;
  }
  .border {
    border: 1px solid grey;
    box-sizing: border-box;
    border-collapse: collapse;
  }
  .base-a {
    background-color: #00BF00;
  }
  .base-g {
    background-color: #ffa500;
  }
  .base-c {
    background-color: #4747ff;
  }
  .base-t {
    background-color: #f00;
  }
}
