---
import Example from '../examples/ShowTrack.tsx'
import code from '../examples/ShowTrack.tsx?raw'
import { pages } from '../examples.ts'
import Layout from '../layouts/ExampleLayout.astro'
import Section from '../layouts/ExampleSection.astro'

const page = pages.find(p => p.slug === 'show-track')!
---

<Layout page={page}>
  <Section slug="show-track" code={code}>
    <Example client:only="react" />
  </Section>
</Layout>
