---
import Example from '../examples/BasicExample.tsx'
import code from '../examples/BasicExample.tsx?raw'
import { pages } from '../examples.ts'
import Layout from '../layouts/ExampleLayout.astro'
import Section from '../layouts/ExampleSection.astro'

const page = pages.find(p => p.slug === 'basic-example')!
---

<Layout page={page}>
  <Section slug="basic-example" code={code}>
    <Example client:only="react" />
  </Section>
</Layout>
