---
import Example from "../examples/SpreadsheetExample.tsx"
import code from "../examples/SpreadsheetExample.tsx?raw"
import { pages } from "../examples.ts"
import Layout from "../layouts/ExampleLayout.astro"
import Section from "../layouts/ExampleSection.astro"

const page = pages.find(p => p.slug === "spreadsheet-example")!
---

<Layout page={page}>
  <Section slug="spreadsheet-example" code={code}>
    <Example client:only="react" />
  </Section>
</Layout>
