---
import Example from "../examples/SvInspectorExample.tsx"
import code from "../examples/SvInspectorExample.tsx?raw"
import { pages } from "../examples.ts"
import Layout from "../layouts/ExampleLayout.astro"
import Section from "../layouts/ExampleSection.astro"

const page = pages.find(p => p.slug === "sv-inspector-example")!
---

<Layout page={page}>
  <Section slug="sv-inspector-example" code={code}>
    <Example client:only="react" />
  </Section>
</Layout>
