---
import Example from "../examples/WithWebWorker.tsx"
import code from "../examples/WithWebWorker.tsx?raw"
import { pages } from "../examples.ts"
import Layout from "../layouts/ExampleLayout.astro"
import Section from "../layouts/ExampleSection.astro"

const page = pages.find(p => p.slug === "with-web-worker")!
---

<Layout page={page}>
  <Section slug="with-web-worker" code={code}>
    <Example client:only="react" />
  </Section>
</Layout>
