name: Desktop build - Win
on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    name: Build Windows desktop app
    runs-on: ubuntu-latest
    container:
      image: docker://node:20-bullseye
    steps:
      - uses: actions/checkout@v4
      - name: Install deps (with cache)
        uses: bahmutov/npm-install@v1
      - name: Install wine
        # https://wiki.debian.org/Wine
        run: |
          dpkg --add-architecture i386
          apt update
          apt install --yes wine wine32 wine64 libwine libwine:i386 fonts-wine
      - name: Install build deps
        run: |
          apt install --yes python3 make gcc libcairo2-dev libpango1.0-dev libjpeg-dev libgif-dev librsvg2-dev
      - name: Build app
        env:
          WIN_CSC_LINK: ${{ secrets.WIN_CSC_LINK }}
          WIN_CSC_KEY_PASSWORD: ${{ secrets.WIN_CSC_KEY_PASSWORD }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          chown --recursive root:root /github/home
          yarn build-electron:win --publish always
        working-directory: products/jbrowse-desktop
