name: Pull Request

on: pull_request

jobs:
  lint:
    name: Lint on node 14 and ubuntu-latest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 14
        uses: actions/setup-node@v1
        with:
          node-version: '14'
      - name: Install deps and build (with cache)
        uses: bahmutov/npm-install@v1
      - name: Lint codebase
        run: yarn lint

  format:
    name: Format on node 14 and ubuntu-latest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 14
        uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: Install deps and build (with cache)
        uses: bahmutov/npm-install@v1
      - name: Check codebase format
        run: yarn prettier --check .

  spellcheck:
    name: Spell check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Check spelling
        uses: crate-ci/typos@master
