name: Push

on:
  push:
    branches:
      - '*'
    tags:
      - '*'

permissions:
  contents: read

jobs:
  main:
    name: Build and test CLI on Node 18
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: '22'
          cache: 'pnpm'

      - name: Install deps
        run: pnpm install --frozen-lockfile

      - name: Pack artifacts for component tests
        run: node --experimental-strip-types scripts/pack.ts

      - name: Upload packed artifacts for component tests
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: packed-artifacts
          path: component_tests/*/packed/
          retention-days: 1

  cli_node18:
    name: Test CLI on Node 18
    needs: main
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: '18'
      - name: Download packed artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: packed-artifacts
          path: component_tests/
      - name: Test CLI on Node 18
        run: |
          cd component_tests/cli-node18
          yarn install
          yarn testcli
