name: Release
on:
  push:
    tags:
      - 'v*'

permissions:
  contents: read

jobs:
  createrelease:
    name: Create release tag and JBrowse web release artifacts
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Create Release
        id: create_release
        uses: actions/create-release@0cb9c9b65d5d1901c1f53e5e66eaf4afd303e70e # v1.1.4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          # This allows us to manually edit the release body text before publishing
          draft: true
          prerelease: false
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Use Node.js 22
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version: '22'
      - name: Set env
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
      - name: Install deps
        run: yarn
      - name: Build project
        run: |
          echo $RELEASE_VERSION
          cd products/jbrowse-web/
          NODE_OPTIONS='--max-old-space-size=6500' yarn build
          cd build
          zip -r "jbrowse-web-${RELEASE_VERSION}.zip" .
      - name: Upload jbrowse-web build
        id: upload-release-asset
        uses: actions/upload-release-asset@e8f9f06c4b078e705bd2ea027f0926603fc9b4d5 # v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./products/jbrowse-web/build/jbrowse-web-${{env.RELEASE_VERSION}}.zip
          asset_name: jbrowse-web-${{env.RELEASE_VERSION}}.zip
          asset_content_type: application/zip
  buildwindows:
    needs: createrelease
    name: Build Windows desktop app
    runs-on: ubuntu-latest
    container:
      image: docker://node:22-bullseye
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Install deps (with cache)
        uses: bahmutov/npm-install@3714964fb879ebbbc108e167f0f3a0c81ec075c9 # v1.10.10
      - name: Setup java
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          # eclipse 'temurin' openjdk https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#Selecting-a-Java-distribution
          distribution: 'temurin'
          java-version: '21'
      - name: Install wine
        # https://wiki.debian.org/Wine
        run: |
          dpkg --add-architecture i386
          apt update
          apt install --yes wine wine32 wine64 libwine libwine:i386 fonts-wine
      - name: Install build deps
        run: |
          apt install --yes python3 make gcc libcairo2-dev libpango1.0-dev libjpeg-dev libgif-dev librsvg2-dev
      # We are just cloning the esigner repo instead of calling their github
      # action directly https://github.com/SSLcom/esigner-codesign
      - name: Get ssl.com esigner zip file and unzip
        run: |
          mkdir products/jbrowse-desktop/code_signer
          cd products/jbrowse-desktop/code_signer
          wget  https://www.ssl.com/download/codesigntool-for-linux-and-macos -O out.zip
          unzip out.zip
          chmod +x CodeSignTool.sh
          cd ../../../

      - name: Build app
        env:
          WINDOWS_SIGN_USER_NAME: ${{ secrets.WINDOWS_SIGN_USER_NAME }}
          WINDOWS_SIGN_USER_PASSWORD: ${{ secrets.WINDOWS_SIGN_USER_PASSWORD }}
          WINDOWS_SIGN_CREDENTIAL_ID: ${{ secrets.WINDOWS_SIGN_CREDENTIAL_ID }}
          WINDOWS_SIGN_USER_TOTP: ${{ secrets.WINDOWS_SIGN_USER_TOTP }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          chown --recursive root:root /github/home
          yarn build-electron:win --publish always
        working-directory: products/jbrowse-desktop

  buildmac:
    needs: createrelease
    name: Build Mac desktop app
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Use Node.js 22
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version: '22'
      - name: Install build deps
        run: |
          brew install pkg-config cairo pango libpng jpeg giflib librsvg
      - name: Install deps (with cache)
        uses: bahmutov/npm-install@3714964fb879ebbbc108e167f0f3a0c81ec075c9 # v1.10.10
      - name: Build app
        env:
          CSC_LINK: ${{ secrets.CSC_LINK }}
          CSC_KEY_PASSWORD: ${{ secrets.CSC_KEY_PASSWORD }}
          APPLEID: ${{ secrets.APPLEID }}
          APPLEIDPASS: ${{ secrets.APPLEIDPASS }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          yarn build-electron:mac --publish always
        working-directory: products/jbrowse-desktop
  buildlinux:
    needs: createrelease
    name: Build Linux desktop app
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Use Node.js 22
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version: '22'
      - name: Install deps (with cache)
        uses: bahmutov/npm-install@3714964fb879ebbbc108e167f0f3a0c81ec075c9 # v1.10.10
      - name: Install build deps
        run: |
          sudo apt update
          sudo apt install -y python3 make gcc libcairo2-dev libpango1.0-dev libjpeg-dev libgif-dev librsvg2-dev
      - name: Build app
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          yarn build-electron:linux --publish always
        working-directory: products/jbrowse-desktop

  buildjbrowseweb:
    name: Deploy jbrowse-web and storybooks to latest folder on tag
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version: '22'
      - name: Install deps (with cache)
        uses: bahmutov/npm-install@3714964fb879ebbbc108e167f0f3a0c81ec075c9 # v1.10.10
      - name: Build project
        run: |
          echo $RELEASE_VERSION
          cd products/jbrowse-web/
          NODE_OPTIONS='--max-old-space-size=6500' yarn build
          cd ../../
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@a03048d87541d1d9fcf2ecf528a4a65ba9bd7838 # v5.0.0
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - name: Copy branch build to S3
        run: |
          cd products/jbrowse-web/build && zip -r jbrowse-web-latest.zip . && cd -
          cp products/jbrowse-web/build/test_data/config.json products/jbrowse-web/build/config.json
          aws s3 sync --delete products/jbrowse-web/build s3://jbrowse.org/code/jb2/latest/
          aws cloudfront create-invalidation --distribution-id E13LGELJOT4GQO --paths "/code/jb2/latest/*"
