# Upload website
on:
  push:
    branches:
      - main
name: Upload website
jobs:
  build:
    name: build-upload
    runs-on: ubuntu-latest
    if: "contains(github.event.head_commit.message, 'update docs')"
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2
      - name: Install deps (with cache)
        uses: bahmutov/npm-install@v1
        with:
          working-directory: website
      - name: Build website
        run: |
          cd website/
          yarn build
      - name: Upload
        run: |
          cd website/
          aws s3 sync --delete build s3://jbrowse.org/jb2/
          aws cloudfront create-invalidation --distribution-id E13LGELJOT4GQO --paths "/jb2/*"
