name: Windows Electron Tests

on:
  push:

permissions:
  contents: read

jobs:
  windows-electron-e2e:
    name: Windows Electron E2E Tests
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: 10
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: '22'
          cache: 'pnpm'

      - name: Install deps
        run: pnpm install --frozen-lockfile

      - name: Build and test Electron on Windows
        run: pnpm test:e2e:ci:win
        working-directory: products/jbrowse-desktop
        env:
          NO_MINIMIZE: true
