.LinearGenomeView {
    display: grid;
    background: white;
    border: 1px solid #000000;

    .block {
        display: inline-block;
        position: relative;
        height: 100%;
        background: #eee;
    }
  
    .track-controls, .track-blocks {
        border-top: 1px solid gray;
    }
    .controls {
        border-right: 1px solid gray;
    }
    .track-blocks {
        overflow: hidden;
        position: relative;
    }

    .scale-bar {
        width: 100%;
        position: relative;
    }
}